@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background-color: #f9fafb;
  color: #333;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
}
